/* common syling */

body {
  /* display: grid;
  grid-template-rows: repeat(3, 1fr) 30%; */
  font-family: "Roboto", sans-serif;
  color: #838783;
  margin: 0;
}

button {
  background-color: inherit;
  cursor: pointer;
}

.heading-bold {
  font-size: 40px;
  color: #636061;
  font-weight: lighter;
}

.text-line-spacing {
  line-height: 1.5;
}

.cursor-pointer {
  cursor: pointer;
}

.anchor-button {
  text-decoration: none;
  padding: 20px;
  border: 2px solid;
}

/* hero & nav section */

nav {
  display: flex;
  justify-content: space-between;
}

nav > p {
  width: 100px;
  height: 100px;
  display: flex;
  margin-top: -1px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #50b8e9;
  box-shadow: 15px 15px #1da8e2;
  font-size: 40px;
}

.hero {
  background-color: #50b8e9;
  padding-left: 200px;
  padding-right: 200px;
  height: 700px;
  overflow: hidden;
}

.hero__div {
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.hamburger-bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}

.hero__download {
  /* display: flex; */
  /* align-items: flex-end;
  flex-direction: column; */
  text-align: end;
  color: white;
  /* height: 100px; */
}

.hero__download h1 {
  font-size: 80px;
  font-weight: 400;
}

.hero__download p span {
  font-size: 100%;
  font-weight: 400;
}

.hero__download p {
  font-size: 35px;
  font-weight: lighter;
  margin-top: -50px;
}

.hero__download button {
  color: white;
  border: 1.5px solid;
  padding: 10px 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.hero__download button img {
  margin-left: 10px;
}

#iphone-top {
  position: relative;
  top: -30px;
  margin-left: 100px;
}

/* header-content section */

.header-content {
  background-color: whitesmoke;
  /* color: #838783; */
  overflow: hidden;
  /* text-align:right */
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.header-content > div {
  padding: 150px;
  width: 550px;
}

#content-img {
  position: relative;
  bottom: -90px;
}

.header-content p {
  font-size: 17px;
  font-weight: 200;
  padding: 10px;
}

#header-content__bold {
  padding-left: 20px;
  border-left: 5px solid #1da8e2;
  font-weight: 400;
}

.header-content button {
  border: 1.5px solid;
  padding: 10px;
  font-size: smaller;
  color: #14ab86;
  margin-top: 30px;
  text-align: center;
  width: 180px;
  font-size: 15px;
}

.header-content button img {
  height: 20px;
  margin-left: 15px;
  margin-bottom: -5px;
}

/* avail section */

.avail {
  /* display: flex; */
  /* justify-content: center; */
  overflow: hidden;
  height: 700px;
}

.avail__div {
  /* position: relative; */
  /* left: -550px; */
  /* top: 40px; */
  margin: 100px 0px 0px 60%;
  width: 370px;
}

.avail__div--dark {
  color: #636061;
  margin-top: 30px;
  margin-bottom: 30px;
}

.avail__div img {
  height: 20px;
  margin-bottom: -5px;
  padding-left: 15px;
}

.avail a {
  color: #d62877;
  display: inline-block;
  margin-top: 35px;
}

/* avail section images */

.avail__imgs {
  display: flex;
  position: relative;
  top: -420px;
  pointer-events: none;
}

#macbook-img {
  position: relative;
  top: 500px;
  width: 600px;
  height: 300px;
  z-index: 1;
  left: -25px;
}

#imac-img {
  margin-top: 250px;
  position: relative;
  left: -280px;
  height: 450px;
  bottom: -20px;
}

#ipad-img {
  position: relative;
  height: 300px;
  right: 420px;
  bottom: -450px;
}

#iphone5 {
  position: relative;
  height: 200px;
  right: 470px;
  bottom: -570px;
}

#ipadmini-img {
  position: relative;
  height: 200px;
  right: 500px;
  bottom: -530px;
  z-index: -1;
}

/* contribute section */

/* .bottom {
  display: grid;
  grid-template-rows: 1fr 2fr 80px;
} */

.contribute {
  background-color: #14ab86;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
  padding: 40px;
  height: 250px;
}

.contribute h2 {
  font-weight: 400;
  color: white;
  margin-top: 50px;
}

.contribute button {
  color: inherit;
  border: solid;
  height: 60px;
  width: 220px;
  font-size: 15px;
}

.contribute img {
  height: 18px;
  padding-left: 10px;
  margin-bottom: -2px;
}

/* socials section */

.socials {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* why doesnt padding work here */
  /* padding: 60px; */
  height: 700px;
}

.socials__div {
  /* margin-top: -10px;
  margin-bottom: 40px; */
  display: flex;
  justify-content: space-evenly;
  /* height: 200px; */
  width: 300px;
}

.socials__div img {
  height: 60px;
}

#subscription-div {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#subscription-input {
  margin-top: -10px;
  background-color: white;
  padding: 10px;
  margin-left: 30px;
  border-radius: 7px;
  cursor: text;
  width: 200px;

  /* why display inline block doesnt work here */
  display: flex;
  justify-content: space-around;
}

#subscription-input img {
  height: 18px;
  margin-bottom: -3px;
  margin-left: 10px;
}

#seperation-pipe {
  border-left: solid;
  margin-left: 40px;
}

/* footer section */

footer {
  font-size: 14px;
  text-align: center;
  padding: 50px;
}

footer span {
  color: #50b8e9;
}

/* page scroll */

#page-scroll {
  /* position: relative; */
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 8px;
  margin: -85px 0px 0px 90%;
}

.solid-bar {
  display: inline-block;
  width: 10px;
  height: 2px;
  margin-top: 35px;
  background-color: #838783;
}

.rotate-left {
  transform: rotate(-45deg);
  margin-right: -2px;
}

.rotate-right {
  transform: rotate(45deg);
  margin-left: -2px;
}
